body {
  margin: 0;
}

body > .nav-header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #11122b;
  color: #ffffff;
}

.left-navbar {
  margin: 5px;
  margin-left: 25px;
  padding: 10px;
}

.right-navbar > .links-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  margin-right: 35px;
  padding: 10px;
}

.right-navbar > .links-wrapper > .nav-link {
  width: 120px;
  text-align: center;
}

.links-wrapper > .nav-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
}

.links-wrapper > .nav-link a:hover {
  color: #cea125;
  letter-spacing: 2px;
  transition: 0.5s;
}

.links-wrapper > .nav-link a.active {
  border-bottom: 1px solid #cea125;
}

/* .links-wrapper > .nav-link a.active {
    border-bottom: 1px solid #cea125;
} */

.page-container {
  background-color: #cea125;
  color: #11122b;
  height: 550px;
  padding: 25px;
  align-items: center;
}

.page-container > .content-wrapper > .click-more a {
    font-weight: 900;
    text-decoration: none;
}

.page-container > .content-wrapper > .click-more a:hover {
    text-decoration: underline;
}


/* .page-container h1 {
  text-align: center;
} */

.page-container > .content-wrapper {
  width: 100vw;
  height: 450px;
}

.page-container > .content-wrapper > span > p {
    margin-right: 30px;
  padding-right: 10px;
}

.footer {
  text-align: center;
  height: 40px;
}
